<!DOCTYPE html>
<html lang="en">
<head>
      <% include partials/head.ejs %>
</head>
<body>
    <% include partials/navigation.ejs %>
    <h1>WIIIIIIIIII</h1>
    <button class="btn btn-primary"></button>
</body>
</html>